@import '../../theme.scss';

.note {
  outline: none;
  border: none;
  resize: none;
  width: 100%;

  font-family: inherit;
  font-size: 0.8rem;
  color: $text-secondary;

  line-height: 1em;
  padding: 1em;

  &.editing {
    color: $text-primary;
  }
}
