@import '../../theme.scss';

.btn {
  font-size: 0.8rem;
  padding: 0.8em 1.5em;

  border-radius: 4px;
  border: none;

  outline: none;

  background-color: $light;
  &.primary {
    background-color: $primary;
    color: $light;
  }
  &.secondary {
    background-color: $secondary;
    color: $primary;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &::moz-focus-inner {
    border: none;
  }

  opacity: 1;
  &:active {
    opacity: 0.7;
  }
}
