@import '../../theme.scss';

@mixin headingChildren {
  > * {
    width: 100%;
    overflow: hidden;
  }
}

@mixin headingIcon {
  .icon {
    max-width: 3em;
    height: 2em;

    color: $text-primary;
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    &:hover {
      opacity: 0.9;
    }
  }
}

.heading {
  height: 3em;
  color: $text-primary;
  background-color: $bg-secondary;
  user-select: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .title {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    @include headingChildren;
  }

  .start {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.65em;

    @include headingChildren;
    @include headingIcon;
  }

  .end {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.65em;

    @include headingChildren;
    @include headingIcon;
  }
}
