@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: $bg-primary;
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

.fallback-loading {
  color: #525252;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Container */
.container {
  width: 100%;
  padding: 1em;

  &.fluid {
    padding: 0;
  }
}
